.article_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  color: #000;
}
.article_card h2 {
  color: #d23669;
}
.article_card span {
}
.article_card p {
}
