.header {
  filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 0.15));
  background: #fff;
}

.header_logo {
  width: 35px;
  height: 35px;
  background: #d23669;
  border-radius: 70%;
}

.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header_btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
